*{
    margin: 0;
    padding: 0;
}

#sidebar-wrapper .list-group {
    width: 15rem !important;
}

.card-width{
    width: 100%;
}

.movie-img-wh{
    margin: auto;
    width: 60%;
    height: 340px;
}

.footer-wh{
    width: 100%;
    height: auto;
}

.scroll{
    overflow-y: scroll;
    height: 80vh;
}



@media (max-width:800px) {
    .hidden{
        display: none;
    }
    #sidebar-wrapper .list-group {
        width: 10rem !important;
    }
}