*{
    margin: 0;
    padding: 0;
    /* border: 1px solid black; */
}

#sidebar-wrapper .list-group {
    width: 15rem !important;
}

.card-width{
    width: 100%;
}

.img-back{
    /* opacity: 0.2; */
    /* margin: auto; */
    width: 80%;
    height:340px;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    object-fit: cover;
    /* font-stretch: ; */
    /* background: linear-gradient(#f67a36,#ed008c); */
}


.movie-img-wh{
    /* opacity: 1; */
    /* margin-left:1rem ; */
    width: 100%;
    height: 365px;
}

.footer-wh{
    width: 100%;
    height: auto;
}

.scroll{
    overflow-y: scroll;
    height: 800px;
}



@media (max-width:800px) {
    .hidden{
        display: none;
    }
    #sidebar-wrapper .list-group {
        width: 10rem !important;
    }
    .scroll{
        height: 100vh;
    }
    
}

@media (max-width:500px) {
    .scroll{
        height: 100vh;
    }
}